<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TrackerEntitiesContainer" connectionString="metadata=res://*/TrackerEntities.csdl|res://*/TrackerEntities.ssdl|res://*/TrackerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source= ;Initial Catalog=Fraktusek2;User ID=sa;Password= ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>