<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Fraktusek2Entities" connectionString="metadata=res://*/Fractus2Entities.csdl|res://*/Fractus2Entities.ssdl|res://*/Fractus2Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source= ;Initial Catalog=Fraktusek2;User ID=sa;Password= ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>