<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- required -->
    <section name="messageHandler" type="Makolab.Fractus.Communication.MessageHandlerSectionHandler, TransmittingModule"/>
    <!-- client specific -->
    <section name="databaseConnectors" type="Makolab.Fractus.Communication.DatabaseConnector.DatabaseConnectorsSectionHandler, CommunicationModule"/>
    <section name="transmitters" type="Makolab.Fractus.Communication.Transmitter.TransmittersSectionHandler, CommunicationModule"/>
    <section name="dependencyContainers" type="Makolab.Fractus.Commons.DependencyInjection.ContainerSectionHandler, Commons"/>
    <section name="fractusKernel" type="Makolab.Fractus.Kernel.FractusKernelSectionHandler, Kernel"/>
  </configSections>
  <appSettings>
    <add key="EnablePackageValidation" value="true"/>
  </appSettings>
  <messageHandler SynchronizationHandler="Makolab.Fractus.Communication.Transmitter.ServiceMessageHandler, CommunicationModule"/>
  <databaseConnectors>
    <databaseConnector Name="fraktusek2" ConnectionString="Data Source= ;User ID=sa;Password= ;database=Fraktusek2_FD"/>
  </databaseConnectors>
  <dependencyContainers>
    <container name="CommunicationContainer" type="Makolab.Fractus.Communication.FractusContainerProvider, FractusDependencyConfiguration"/>
    <container type="Makolab.Fractus.Kernel.DependencyInjection.KernelContainerProvider, Kernel" name="KernelContainer"/>
    <binding assembly="CommunicationModule" container="CommunicationContainer"/>
  </dependencyContainers>
  <connectionStrings>
    <add name="Main" connectionString="Server= ;database=Fraktusek2_FD;user id=sa;password= " providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <fractusKernel>
    <session timeout="30"/>
    <transaction forceRollback="false"/>
    <database logCommunication="false" logPath="E:\TestLog.xml"/>
  </fractusKernel>  
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debuggingBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceThrottling maxConcurrentCalls="16"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp">
          <readerQuotas maxStringContentLength="50000" maxArrayLength="50000" maxBytesPerRead="4096"/>
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="false"/>
          </security>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="Soap11noaddressing">
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxStringContentLength="50000" maxArrayLength="50000" maxBytesPerRead="4096"/>
          </textMessageEncoding>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="debuggingBehavior" name="Makolab.Fractus.Communication.SynchronizationService">
        <endpoint address="SynchronizationService" binding="customBinding" bindingConfiguration="Soap11noaddressing" name="basicHttp" contract="Makolab.Fractus.Communication.ISynchronizationService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3322/Fractus2/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
