<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fractusKernel" type="Makolab.Fractus.Kernel.FractusKernelSectionHandler, Kernel" />
    <section name="dependencyContainers" type="Makolab.Fractus.Commons.DependencyInjection.ContainerSectionHandler, Commons" />
  </configSections>
  <fractusKernel>
    <kernel mode="desktop" />
    <session timeout="30" />
    <transaction forceRollback="false" />
    <database logCommunication="false" logPath="E:\TestLog.xml" />
  </fractusKernel>
  <dependencyContainers>
    <container type="Makolab.Fractus.Kernel.DependencyInjection.KernelContainerProvider, Kernel" name="KernelContainer" />
  </dependencyContainers>
  <connectionStrings>
    <add name="Main" connectionString="Server= ;database=Fraktusek2;user id=sa;password= ;Application Name=FractusKernel" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogFolder" value="C:\temp" />
    <add key="CacheFolder" value="E:\Repos_cache" />
    <add key="RepositoryUrl" value="http://svn_serv/Repository/Repository.svc" />
    <add key="SkipCachingForMainRepository" value="false" />
    <add key="MainFileLocation" value="gui\Main.html" />
  </appSettings>
</configuration>