<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="wcfPath" value="E:\workdir\other\Fractus2.0\CommunicationTests\WCF\HostingService.exe"/>
    <add key="centralPath" value="E:\workdir\other\Fractus2.0\CommunicationTests\Central\HostingService.exe"/>
    <add key="branch1Path" value="E:\workdir\other\Fractus2.0\CommunicationTests\Branch1\HostingService.exe"/>
    <add key="branch2Path" value="E:\workdir\other\Fractus2.0\CommunicationTests\Branch2\HostingService.exe"/>
    <add key="updateBatPath" value="E:\workdir\other\Fractus2.0\CommunicationTests\update.bat"/>
  </appSettings>
</configuration>