<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RepositoryFolder" value="D:\Repos"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="UnsecureRestBinding" maxBufferSize="50000000" maxReceivedMessageSize="50000000">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Makolab.Repository.RepositoryService" behaviorConfiguration="Repository.RepositoryService">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:3131/Repository/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="UnsecureRestBinding" behaviorConfiguration="WebBehavior" contract="Makolab.Repository.IRepositoryService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Repository.RepositoryService">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
